<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
    <link rel = "stylesheet" href = "{% static 'style.css' %}?after", type="text/css">
</head>
<body>

    <h1>Hello, {{ request.session.myname | default:'Stranger' }} Welcome</h1>
    

    <table border="1">
        <col width="50">
        <col width="100">
        <col width="500">
        <col width="100">

        <tr>
            <th>번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        {% if not list %}
            <tr>
                <th colspan="4">----------작성된 글이 없습니다----------</th>
            </tr>
        {% else %}
            {% for data in list %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.myname }}</td>
                    <td><a href="{% url 'detail' data.id %}">{{ data.mytitle }}</a></td>
                    <td>{{ data.mydate | date:'Y-m-d' }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <td colspan="4" align="right">
                <input type="button" value="글작성" onclick="location.href='{%url 'insert' %}'">
            </td>
        </tr>
    </table>

    <form method="GET" action="{% url 'result' %}">
        <input type="text" name="query" placeholder="검색어 입력">
        <button type="submit">검색</button>
    </form>
    <br>

    <!--처음으로-->
    <a href="?page=1">처음</a>
    <!-- 이전 -->
    {% if list.has_previous %}
        <a href="?page={{ list.previous_page_number }}">이전</a>
    {% else %}
        <a>이전</a>

    {% endif %}

    <!-- 페이징 -->
    {% for page_num in list.paginator.page_range %}
        {% if page_num == list.number %}
            <b>{{ page_num }}</b>

        {% else %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>

        {% endif %}

    {% endfor %}

    <!-- 다음 -->
    {% if list.has_next %}
        <a href="?page={{ list.next_page_number }}">다음</a>
    {% else %}
        <a>다음</a>
    {% endif %}

    <!--끝으로-->
    <a href="?page={{ list.paginator.num_pages }}">끝</a>

    <br>
    <br>
    <br>
    <!--<a href="{% url 'register' %}">회원가입</a>-->
    <input type="button" value="회원가입" onclick="location.href='/register'">
    <br>
    {% if not request.session.myname %}
        <!--<a href="{% url 'login' %}">로그인</a>-->
        <input type="button" value="로그인" onclick="location.href='/login'">
    {% else %}
        <!--<a href="{% url 'logout' %}">로그아웃</a>-->
        <input type="button" value="로그아웃" onclick="location.href='/logout'">
    {% endif %}

    <div id="map" style="width:100%;height:500px;"></div>
    <p><em>지도를 클릭해주세요!</em></p> 
    <div id="clickLatlng"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
    </script>


    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ed91634381b7ff17555d43346b513cef"></script>
    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(37.60202080985438, 126.91633826528262), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


    

    if (navigator.geolocation) {
    
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
        
        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition, message);
            
      });
    }
    function displayMarker(locPosition, message) {

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({  
            map: map, 
            position: locPosition
        }); 

        var iwContent = message, // 인포윈도우에 표시할 내용
            iwRemoveable = true;

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });

        // 인포윈도우를 마커위에 표시합니다 
        infowindow.open(map, marker);

        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition);      
        }



    // 지도를 클릭한 위치에 표출할 마커입니다
    var marker = new kakao.maps.Marker({ 
        // 지도 중심좌표에 마커를 생성합니다 
        position: map.getCenter() 
    }); 
    // 지도에 마커를 표시합니다
    marker.setMap(map);

    // 지도에 클릭 이벤트를 등록합니다
    // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
        
        // 클릭한 위도, 경도 정보를 가져옵니다 
        var latlng = mouseEvent.latLng; 
        
        // 마커 위치를 클릭한 위치로 옮깁니다
        marker.setPosition(latlng);

        var lat = latlng.getLat()
        var lng = latlng.getLng()
        
        var message = '클릭한 위치의 위도는 ' + lat + ' 이고, ';
        message += '경도는 ' + lng + ' 입니다';
        
        var resultDiv = document.getElementById('clickLatlng'); 
        resultDiv.innerHTML = message;

        var data = {
            lat: lat,
            lng: lng
        };

        console.log(lat);
        console.log(lng);

        $.ajax({
            url: "/weather/",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",

            beforeSend: function() {
                $("#loading-message").show();
            },

            success: function(response) {

                $("#loading-message").hide();

                console.log(response);

                var tmpElement = document.getElementById('tmp');
                var humElement = document.getElementById('hum');
                var rainElement = document.getElementById('rain');

                tmpElement.innerHTML = '기온: <span>' + response.tmp + '°C </span>';
                humElement.innerHTML = '습도: <span>' + response.hum + '% </span>';
                rainElement.innerHTML = '강수량: <span>' + response.rain + 'mm </span>';




            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        })

    
});

</script>
<br>

<div id="loading-message" class="loading-message">
    <p>불러오는 중입니다</p>
</div>

<div id="tmp"></div>
<div id="hum"></div>
<div id="rain"></div>

<br> <br> <br> <br> <br>

</body>
</html>